{% extends 'app/base.html' %}

{% block contenido %}

{% for p in Publicacion %}
{% if p.estado == 1 %}
    
<article class="box post post-excerpt">
    
        <h2><a href="#">{{p.titulo}}</a></h2>
        <p>{{p.categoria}}</p>
   
    <div class="info">
        <span class="date">{{p.fecha_publicacion}}
        <ul class="stats">
            <li><a href="#" class="icon fa-comment">16</a></li>
            <li><a href="#" class="icon fa-heart">32</a></li>
            <li><a href="#" class="icon brands fa-twitter">64</a></li>
            <li><a href="#" class="icon brands fa-facebook-f">128</a></li>
        </ul>
    </div>
    <a href="#" class="image featured"><img src={{p.imagen.url}} alt="" /></a>
    <p>
        {{p.texto}}
    </p>
</article>
{% endif %}
{% endfor %}


{% endblock %}