{% extends 'app/base.html' %}

{% block contenido %}

  
    <article class="box post post-excerpt">
       
         
            <h2><a href="#">Contacto</a></h2>
            <p>Estamos atentos a poder conversar con uds.</p>
        
        <div class="info">
            
        
        </div>
        
        <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        <p>
            <strong>Email</strong><br> contacto@vozparkinson.cl
        </p>
        <p>
            <strong>Telegram</strong><br> @vozparkinson
        </p>
    </article> 

    



{% endblock %}