{% extends 'app/base.html' %}

{% block contenido %}


  <article class="box post post-excerpt">
	<header>
		
		<h2><a href="#">Voz Parkinson</a></h2>
		<p>Plataforma de acompañamiento a pacientes con EP</p>
	</header>
	<div class="info">

	</div>
	<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
	<p>
		<strong>VozParkinson</strong> es una plataforma para generar <strong>ciencia de datos</strong>, y aportar al mejor acompañamiento de pacientes de Enfermedad de Parkinson. Esta plataforma es parte de los servicios de <a href="http://www.jomaxk.cl/">Jomax Kellun SpA</a> empresa especializada en programas de pacientes. El foco principal es el trabajo con datos de medicamentos, de voz y habla, y su evolución en el día a día.
	</p>
	<p>
		VozParkinson es un proyecto interdisciplinario, que combina conocimientos y visiones de enfermeras, fonoaudiologas e ingenieros, con expertise en diversos proyectos de salud.
	</p>
	<p>
		<strong>VozParkinson</strong> es ganador de un fondo de innovación 2022 de <strong>CORFO</strong>. Más información en <a href="http://www.corfo.cl/">CORFO</a>.
	</p>
</article>



{% endblock %}