{% extends 'app/base.html' %}

{% block contenido %}

<article class="box post post-excerpt">
    <header>

        <h2><a href="#">Nosotros</a></h2>
        <p>Un equipo diverso para aportar en el acompañamiento de pacientes.</p>
    </header>
    <div class="info">
    
    </div>
    <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
    <p>
        <strong>Jocelyn Muñoz</strong><br> Enfermera Matrona, 10 años de experiencia en salud, programas de pacientes neurológicos y de Enfermedad de Parkinson en particular, emprendedora.
    </p>
    <p>
        <strong>Daniela Oliva</strong><br> Fonoaudióloga, 10 años de experiencia en salud, atención de pacientes de Enfermedad de Parkinson, docente universitaria.
    </p>
    <p>
        <strong>Ignacio Correa</strong><br> Ing. Civil Industrial, consultor en proyectos de tecnologías e innovación, emprendedor (ganador fondos Corfo Economía Circular 2021).
    </p>
</article>


{% endblock %}