{% extends 'app/base.html' %}



{% block contenido %}


<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <h2> Rut|Nombre|ApellidoPaterno|ApellidoMaterno|Mail|Telefono|Whatsapp|Telegram</h2>
        </li>
        <h3></h3>

        {% if user.username == "Daniela" or user.username == "Fonoaudiologo2" %}

        <!-- variable que sea filtro_usuario -->

        {% for p in FonoPacientes %}

        {% if p.id_app_usuario_id == 2 %} <!--  = filtro_usuario -->
        <br>
        <li class="list-group-item">{{p.idapp_paciente}}|{{p.fecha}}|{{p.audio}}|{{p.video}}|{{p.feedback}}</li>
        {% endif %}

        {% endfor %}

        
        {% endif %}

    </ul>
</div>

{% endblock %}